<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>jvilaboa@outlook.com</AccountUsername>
    <AzureServiceName>arg-lighthouses-app-srv</AzureServiceName>
    <AzureServiceResourceId>/subscriptions/4ffc573f-cffe-48a5-b82a-0f3930ce1700/resourceGroups/LightHouses_rg/providers/Microsoft.Web/sites/arg-lighthouses-app-srv</AzureServiceResourceId>
    <AzureServiceResourceGroup>LightHouses_rg</AzureServiceResourceGroup>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>4ffc573f-cffe-48a5-b82a-0f3930ce1700</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Visual Studio Enterprise with MSDN</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/4ffc573f-cffe-48a5-b82a-0f3930ce1700/resourceGroups/LightHouses_rg/providers/Microsoft.Web/sites/arg-lighthouses-app-srv (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>10.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <DoNotUseSPN>true</DoNotUseSPN>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceLinux.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>true</IsLinuxAzureService>
    <LanguageVersion>net5.0</LanguageVersion>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectGuid>0e009b7b-3fbc-7e7f-c1d7-4f3b059c53f6</ProjectGuid>
    <ProjectOutputPath>published</ProjectOutputPath>
    <ProjectPath>.</ProjectPath>
    <PublishProvider>AzureWebSite</PublishProvider>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>2360286e-e884-41b7-a0fa-f97455fc2a31</TenantId>
  </PropertyGroup>
</Project>